<div class="content">
	<h2>Add Animals <small>Animal form</small></h2>
	<hr>

	<form class="my-form" action="/add-animal/new">
		<fieldset class="form-group">
			<label for="name">Animal Name</label>
			<input type="text" class="form-control" id="name" placeholder="Add Spoted Animal">
		</fieldset>
		<fieldset class="form-group">
			<input type="submit" class="btn btn-primary" value="Add Animal">
		</fieldset>
	</form>
</div>