<!DOCTYPE html>
<html>
	<head>
		<title>WildLife || Tracker</title>
		<!-- styles -->
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
		<link rel='stylesheet' href='https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css'>
		<link rel="stylesheet" type="text/css" href="/styles/styles.css">

		<!-- scripts -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="top-nav">
				
			</div>
			<div class="side-bar">
				<ul class="nav my-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">DashBoard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/add-sight">Add Sight</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/add-animal">Add Animal</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/add-endangered-animal">Add Endangered Animal</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/spoted-animal">View Spoted Animals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/spoted-endangered">view Spoted Endangered</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/view-all">View All Animals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</div>
			<!-- main body -->
			<div class="body-main">

				#parse($view)

			</div>
		</div>
	</body>
</html>